/* ------------//// CSS RESET \\\\------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* ----/// HEAT CSS \\\---- */

html, body {
  overscroll-behavior: none;
}

#container {
  width: 100vw;
  height: 100vh;
}

#landing-fullscreen, #about-fullscreen, #landing-mobile, #about-mobile {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* Display changes upon click */
#landing-fullscreen, #landing-mobile {
  display: block;
}

#about-fullscreen, #about-mobile {
  display: none;
}

#back-link {
  display: none;
}

#go-back {
  height: 33%;
  width: 20%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
}

/* Display changes upon click */
#email-link {
  display: none;
}

#email-div {
  height: 50px;
  width: 200px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20%;
}

/* ----/// MOBILE QUERIES \\\---- */

/* Fullscreen */
@media only screen and (min-width: 751px) {
  #mobile {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 750px) {

  /* Prevent inertial scrolling iOS */
  html {
		height: 100%;
	}

	body, #container {
		height: 100%;
		width: 100%;
		position: fixed;
		top:0;
		left: 0;
	}

  #fullscreen {
    display: none;
  }

  #email-div {
    height: 100px;
    width: 250px;
    bottom: 6%;
  }

  #go-back {
    width: 90%;
    height: 70%;
  }
}